# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
out/

# Logs and compiled files
*.log
*.class

# Reports and test output
*.html
*.xml
*.bin
/test-results/
reports/

# JARs and local OS files
*.jar
.DS_Store
Thumbs.db
